body{
    font-family: roboto !important;
    margin-top:55px;
}
h1, h2,h3,h4,h5,h6{
    font-weight: 300 !important;
}
.azul{
    background-color: #3f51b5;
}
nav.azul{
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
}
.multicolor{
    background-color: #3f51b5;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.minimo{
    min-height:79vh;
}

footer{
    background-color: #303030;
    color: gray;
    padding: 28px 8px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
}
footer a{
    color: gray;
    text-decoration: none;
}
footer a:hover{
    color: white;
    text-decoration: none;
}

.rosa{
    background-color:#e91e63;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.celeste{
    background: linear-gradient(45deg, #dbd4b8, #25aab2);
}